name: Swift CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  build-macos:
    name: Build on macOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "15.4"

      - name: Cache SwiftPM
        uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: ${{ runner.os }}-spm-

      - name: Swift Version
        run: swift --version

      - name: Build
        run: swift build -v

      - name: Run tests
        run: swift test -v

  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Install Swift
        uses: swift-actions/setup-swift@v1
        with:
          swift-version: "5.9"

      - name: Cache SwiftPM
        uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: ${{ runner.os }}-spm-

      - name: Swift Version
        run: swift --version

      - name: Build
        run: swift build -v

      - name: Run tests
        run: swift test -v

  build-ios:
    name: Build and Test for iOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "15.4"

      - name: Build and test on Simulator
        run: |
          xcodebuild -scheme ColourJourney \
                     -destination 'platform=iOS Simulator,name=iPhone 15' \
                     -skipPackagePluginValidation \
                     test

      - name: Build for iOS Device
        run: |
          xcodebuild -scheme ColourJourney \
                     -destination 'generic/platform=iOS' \
                     -skipPackagePluginValidation \
                     build

  lint:
    name: SwiftLint
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Install SwiftLint
        run: brew install swiftlint

      - name: Lint
        run: swiftlint
